/*============================================================ BREAKPOINT 1920px ====================*/

@media screen and (max-width: 1920px)
{
#footer  {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(#000000, #3f103a);
    height: 40px;
    width: 100%;
    position: sticky;
    margin: 0 ;
    padding: 0 30px 0 0;
    bottom: 0px;
        #Redes img {
        display: inline;
        margin: 10px 4px ;
        height: 20px;
        width: 20px;
        right: 30px;
        cursor: pointer;
    }
        #footerLinks {
        display:inline;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin: 10px 20px 10px 20px;
        text-decoration: none;
        color: white;

        
            #num-wsp{
            display: inline;
            }
                 
            #wspfooter {
            width: 20px;
            margin: 0px 5px 3px 5px;
            }

            a{
            margin: 5px;
            color: white;
            text-decoration: none;
            }
    }
}




}

/*============================================================ BREAKPOINT 992px ====================*/
@media screen and (max-width: 992px) {
    #footer{
    bottom: 0px;
    align-items: center;
    }


}



/*============================================================ BREAKPOINT 576px ====================*/

@media screen and (max-width: 576px){

#footer  {
    display: inline-flex;
    justify-content: center;
    background: linear-gradient(#a19ea1, hsl(306, 59%, 15%),  hsl(306, 59%, 15%), hsl(309, 66%, 6%));
    height: 50px;
    width: 100%;
    position: sticky;
    z-index: 100;    

        #Redes, img {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 8px;
        max-height: 20px;
        max-width: 20px;
    }
        #footerLinks {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin: 10px 20px 10px 20px;

   

            #num-wsp{
                display: none ;
            }
                 
            #wspfooter {
            max-width: 20px;
            margin: 0px 5px 3px 5px;
            }

            a{
            margin: 5px;
            color: white;
            text-decoration: none;
            }
    }
}
}