/*============================================================ BREAKPOINT 1920px ====================*/
@media screen and (max-width: 1920px) {
/*-----------------------------------------------web*/
    header {
        text-align: center;      
        justify-content: center;
        background: 
        linear-gradient(#3f103a, #000000, #000000, #000000);
        position: sticky;
        margin-top: 0;
        padding: 5px;
        z-index: 100;
        top: 0;
        height: 40px;
        width: 100%;
            a {
            margin: 10px 0 10px 30px;
            text-decoration: none;
            color: white;
            align-items: center;
            text-align: center;

        }
    }

    .banner {
        width: 100%;
        height: 100%;
            img {
                background-size: cover;
            }
    }

    .mostrar-menu,
    .esconder-menu{
    display: none;
    transition: 0.4s;
    }

    #check {
            display:none;
    }


}


/*============================================================ BREAKPOINT 992px ====================*/

@media screen and (max-width: 992px) {  
/*-----------------------------------------------web*/     
    header {
        background: linear-gradient( #000000, #3f103a);
        position: sticky;
        margin-top: 0;
        padding: 5px;
        z-index: 100;
        top: 0;
        height: 40px;
        width: 100%;
            a {
            margin: 10px 0 10px 30px;
            text-decoration: none;
            color: white;
            align-items: center;
            text-align: center;
        }
    }

    .banner {
        width: 100%;
        height: 100%;
            img {
                background-size: cover;
            }
    }

    .mostrar-menu,
    .esconder-menu{
        display: none;
        transition: 0.4s;
    }

    #check {
            display:none;
    }
/*-------------------------------------------Desplegable*/
    .filter {
        background: linear-gradient(#3f103a,#a19ea1);
        display: flex;
        justify-content: end;
        padding-right: 30px;
        color: rgb(255, 255, 255);
        align-items: center;
            label{
            padding: 2px 20px;
            font-weight: 500;
                #orden{
                height: 20px;
                border-radius: 5px;
                text-align: center;
                width: 130px;
                margin: 0;
            }
        }
    }

}


/*============================================================ BREAKPOINT 576px ====================*/


@media screen and (max-width: 576px) {
    /*-----------------------------------------------web*/
    header {
        height: 60px;
        justify-content: center;
        place-content: space-between;
        top: 0;

            #icon-open{
            width: 65px;
            height: auto;
            order: 1;
            cursor: pointer;
            }

            #icon-close{
            width: 60px;
            height: auto;
            order: 1;
            cursor: pointer;
            }
        }

    /*------------------------------------------Desplegable*/
    .filter {
        background: linear-gradient( hsl(306, 59%, 15%),#a19ea1);
        justify-content:center;
        color: rgb(230, 223, 223);
        border-radius: 0 0 10px 10px;


            label{          
            display: none;

                #orden{
                height: 20px;
                border-radius: 5px;
                text-align: center;

                    option {
                        font-size: 16px;
                    }
            }
        }
    }


    .menu {
        padding-top: 30px;
        border-radius: 30px;
        position: fixed;
        text-decoration: none;
        width: 70%;
        height: 30%;
        background: #534c52a4;
        backdrop-filter: blur(6px);
        right: -100%;
        top: 5px;
        z-index: 100;
        transition: 0.5s;

            a {
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            text-align: left;
            padding-left: 10px;
    
        }
    }

    .mostrar-menu {
        margin: 0;
        position: absolute;
        font-size: 40px;
        top: -5px;
        right: 30px;
    }

    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .esconder-menu {
        color: rgb(255, 123, 0);
        position: absolute;
        font-size: 50px;
        top: 10px;
        right: 30px;
    }

    #check:checked ~ .menu {
        cursor: pointer;
        right: 0;
    }

    #check {
        display: none;
    }

  .banner {
              display: none;
    }
}