/*============================================================ BREAKPOINT 1920px ====================*/
@media screen and (max-width: 1920px) {
/*-----------------------------------------------web 1920px */
    header {
        text-align: center;      
        justify-content: center;
        background: 
        linear-gradient(#3f103a, #000000, #000000, #000000);
        position: sticky;
        margin-top: 0;
        padding: 5px;
        z-index: 100;
        top: 0;
        height: 40px;
        width: 100%;
            a {
            margin: 10px 0 10px 30px;
            text-decoration: none;
            color: white;
            align-items: center;
            text-align: center;

        }
    }

    .banner {
        width: 100%;
        height: 100%;
            img {
                background-size: cover;
            }
    }

    .mostrar-menu,
    .esconder-menu{
    display: none;
    transition: 0.4s;
    }

    #check {
            display:none;
    }
    /*------------------------------------------Desplegable 1920px */
    
    .filter {
        border-radius: 5px;
        padding-top: 45px;
        padding-left: 20px;
        justify-self: flex-start;   
    }

    #orden{
        text-align: center;
        border-radius: 10px;
        width: 170px;
    }

}

/*============================================================ BREAKPOINT 992px ====================*/

@media screen and (max-width: 992px) {  
/*-----------------------------------------------web  992px */     
    header {
       background: 
        linear-gradient(#3f103a, #000000, #000000, #000000);
        position: sticky;
        margin-top: 0;
        padding: 5px;
        z-index: 100;
        top: 0;
        height: 40px;
        width: 100%;
            a {
            margin: 10px 0 10px 30px;
            text-decoration: none;
            color: white;
            align-items: center;
            text-align: center;
        }
    }

    .banner {
        width: 100%;
        height: 100%;
            img {
                background-size: cover;
            }
    }

    .mostrar-menu,
    .esconder-menu{
        display: none;
        transition: 0.4s;
    }

    #check {
            display:none;
    }
/*-------------------------------------------Desplegable  992px  */
    .filter {
        border-radius: 5px;
        padding-top: 35px;
        padding-left: 20px;
        justify-self: flex-start;}

    #orden{
        text-align: center;
        border-radius: 10px;
                width: 170px;
    }




/*============================================================ BREAKPOINT 576px ====================*/


@media screen and (max-width: 576px) {
    /*-----------------------------------------------web  576px */
    header {
        height: 60px;
        justify-content: center;
        place-content: space-between;
        top: 0;

            #icon-open{
            width: 65px;
            height: auto;
            order: 1;
            cursor: pointer;
            }

            #icon-close{
            width: 60px;
            height: auto;
            order: 1;
            cursor: pointer;
            }

        }

    /*------------------------------------------Desplegable 576px */
        .filter {
        border-radius: 5px;
        padding-top: 35px;
        padding-left: 20px;
        justify-self: flex-start;}

        #orden{
            text-align: center;
            border-radius: 10px;
            width: 170px;
                option {
                font-size: 16px;
                }
        }
  /*------------------------------------------menu 576px */
    .menu {
        border-radius: 30px;
        position: fixed;
        width: 250px;
        height: 250px;
        background: #534c52a4;
        backdrop-filter: blur(10px);
        right: -100%;
        top: 5px;
        z-index: 100;
        transition: 0.8s;
            a {
            color: #ffffff;
            font-size: 20px;
            padding: 3px;
            text-decoration: none;
            display: block;
            text-transform: uppercase;
            text-align: left;
        }
    }

    .mostrar-menu {
        margin: 0;
        position: absolute;
        font-size: 40px;
        top: -5px;
        right: 30px;
    }

    .mostrar-menu,
    .esconder-menu {
        display: block;
    }

    .esconder-menu {
     
        position: absolute;
        font-size: 50px;
        top: 10px;
        right: 30px;
    }

    #check:checked ~ .menu {
        cursor: pointer;
        right: 0;
    }

    #check {
        display: none;
    }

  .banner {
              display: none;
    }
}
}