/*============================================================ BREAKPOINT 1920px ====================*/

@media screen and (max-width: 1920px){

/*-------------------------------------------Index 1920px */
#main {
    margin: 50px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
  
        .contenedor-video {
        display: flex;
        height: 400px;
        position: relative;
        width: 600px;
        padding: 20px 0;
        margin: 20px 0px;
        justify-content: center;
        }

        video {
        position: absolute;
        width: 600px;
        height: auto;
        }
    }
h1{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    align-items: center;
}
h2 {
    font-size: 22px;
    font-weight: 600;
    color: #181818;
    margin: 20px auto;
    text-align: center;
}
h3{
    font-size: 18px;
    font-weight: 600;
    color: #474040;
    margin: 15px 0px;
}
h4{
    font-size: 24px;
    text-transform: uppercase;
}
article{
    text-align: justify;
}

/*-------------------------------------------Tienda 1920px */

#grid-productos {
    gap: 20px;
    background-color: none;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    overflow: hidden;

        .card {
        max-width: 280px;
        max-height:500px ;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;

            button {
            font-size: 16px;
            min-width: 100px;
            border-radius: 10px;
            background: #3f103a;
            color: rgb(255, 255, 255);
            cursor: pointer;
            margin: 10px;
            }

            img.producto {
            position:relative;
            border-radius: 15px;
            height:220px;
            width: 100%;
            padding:0;
            }

            .card-body{
            align-items: center;
            text-align: center;
            border-radius: 5px;
            padding: 0px;
                .card-text {
                text-align:justify;
                padding: 0px;
                margin: 0px;
             .card-subtext {
                    padding: 0px;
                    margin: 0px;
                    }
                    .card-title {
                    text-align: justify;
                    }
                }
            }
        }
    }

/*--------------------------------------------------Contacto 1920px */
#contenedor-contacto{
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px auto ; 
        #mapa{
            margin-top: 20px; 
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(29, 24, 24, 0.2);
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(29, 24, 24, 0.2);
            width: 300px;
            height: auto;
                label {
                display: block;
                }

                input, textarea {
                width: 100%;
                padding: 8px;
                margin-bottom: 5px;
            
                }
            }

        button {
            width: 80px;
            font-size: 14px;
            background-color:#3f103a;
            color: #fff;
            padding: 5px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }

        button:hover {
            background-color: rgb(255, 123, 0)
            }
    
    }

/*-------------------------------------------Servicios 1920px */
#servicios{
    margin: 50px 200px;
    text-align: justify;
    align-items: center;
    height: 100%;
    overflow: hidden;
        .Articulos{
            padding: 20px ;  
        }
    }

/*-------------------------------------------FAQ 1920px */

#FAQ {
    margin: 50px 200px;
    text-align:left;
    font-size: 16px;
    overflow: hidden;
    height: 100%;     
        h2{
        text-align: center;
        }   
    }
}


/*============================================================ BREAKPOINT 992px ====================*/

@media screen and (max-width: 992px){
/*-------------------------------------------------Index 992px */

#main, #servicios, #FAQ {
    margin: 50px 120px; }
/*-------------------------------------------------Contacto 992px */

  #contenedor-contacto{
    margin: 20px auto;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;


        #mapa{
        padding: 0;
        min-width: 30%;
        min-height: 30%;
        }
        form {
        border-radius: 8px;
        max-width: auto;
        height: auto;
            label {
            display:flex; }

            input , textarea {
            justify-content: flex-end;
            max-width: 230px;  
            }
        }
    }

/*-------------------------------------------------Tienda 992px */
#grid-productos {
    
    background-color: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;

        .card {
        max-width: 260px;
        max-height:480px ;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;

            button {
                width: 80px;
                border-radius: 4px;
                background: #3f103a;
                color: rgb(255, 255, 255);
                cursor: pointer;
            }

            img.producto {
            border-radius: 15px;
            height:100%;
            width: 100%;
            padding:0;
            }

            .card-body{
                max-height: 300px;
                align-items: center;
                
                .card-text {
                    font-size:12px;
                    text-align:center;
                    .card-subtext {
                        font-size: 14px;
                        text-align: center;
                        .card-title {
                            padding: 5px;
                            text-align: center;
                            font-weight: 600;
                            font-size: 14px;
                        }

                    }
                }
            }
        }

    }
}
  
/*============================================================ BREAKPOINT 576px ====================*/

/*-------------------------------------------------Tienda 576px */
@media screen and (max-width: 576px){
    
    #main, #servicios, #FAQ {
    margin: 20px 40px;
    overflow: hidden;
    height: 100%;
    }

#grid-productos {
    background-color: none;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

    .card {
        height: auto;
        background-color: gainsboro;
        border-radius: 15px;
        
            img.producto {
            border-radius: 10px;
            height:100%;
            width: 100%;
            padding:0;
            }

            .card-body{
            max-height: 300px;
            align-items: center;

            .card-text {
            font-size:16px;
            text-align:center;
            
                .card-title {
                    padding: 5px;
                    text-align: center;
                    font-weight: 600;
                    font-size: 16px;

                    .card-subtext {
                    font-size: 14px;
                    text-align: center;
                    }
                }
            }
        }

    }

}


/*-------------------------------------------------contacto 576px */
#contenedor-contacto{
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    }
    #mapa{
        max-width: 300px;
        height: 400px;
    }
    form {
        border-radius: 8px;
        max-width: 250px;
        height: auto;
        margin: 30px;
            label {
            display:flex; }

    input , textarea {
               padding: 0;
        justify-content: flex-end;
        max-width: 230px;  
        }
    }

}